.App {
  text-align: center;
  margin: 0,0,0,0; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: rgba(25, 0, 0, 0.3); */
  text-align: center;
  padding: .25em;
}
.navbar {
  display: flex;
  text-align: center;
  width: fit-content;
  width: 100%;
  background-color: rgba(0, 255, 255, .45);
  height: 5vh;
}
.navcont {
display: flex;
justify-content: space-between;
width: 100%;
}
.leftnav {
  margin-top: 1vh;
  margin-left: 10vh;

}
.centernav {
margin-top: 1vh;
}
.rightnav {
margin-top: 1vh;
margin-right: 10vh;

}

#footer {
  z-index: 1;
}

#events-display-container {
  margin-top: 0%;
  padding-top: 7%;
  height: 70vh;
  overflow-y: scroll;
}

#calendar-title {
  padding-bottom: 0%;
  margin-bottom: 0%;
}
.margin {
  margin-right: 0;
}